<nav class="navbar">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="/images/logo.svg" class="white -inline-block align-top"
                alt="workout by Smalllike from the Noun Project" height="40" />
            My Workout
        </a>
    </div>
</nav>