<div class="container">
    <div>arrow left</div>
    <div>arrow right</div>
    <div class="">Day</div>
    <div class="">Time</div>
    <div class="container">
        {{!-- Prepopulate form with either empty or data --}}
        {{!-- Submit button would have to be sticky to the bottom of the screen --}}
        {{!-- Sidebar should show itself on click of three lines --}}
        <div>checkbox</div>
        <div>exercise</div>
        <div>weight</div>
        <div>reps</div>
        <div>duration</div>
        <div></div>
    </div>
</div>