body {
    background-color: rgb(22, 53, 83);
    color: rgb(233, 233, 233);
}
a {
    color: rgb(214, 163, 129);
}
.white {
    filter: invert(66%) sepia(91%) saturate(161%) hue-rotate(340deg)
        brightness(88%) contrast(91%);
    padding: 0 6px 0 0;
}
.navbar {
    background-color: rgb(87, 95, 115);
}
